html{font-size: 22px;}
body {
    background-color: #333;
    color: whitesmoke;
}
a {color:deepskyblue;}
a:hover{color: rgb(35, 117, 194);}
a:active {color: rgb(21, 84, 202);}
a:visited {color:rgb(111, 49, 168);}
